.addRecipe{
    background-color: transparent;
    color:rgb(255, 255, 255);
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 0px rgb(0, 0, 0);  
    font-family: 'Montserrat', sans-serif;
    border-width: 1px
}

.profile-title{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.recipe-name{
    font-family: 'Montserrat', sans-serif;
}

.recipe-border{
    border: solid;
    border-width: 1px;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 0px rgb(0, 0, 0);    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.recipe-border:hover {
    background-color: rgba(255, 255, 255, 0.459);
}

.profile-flex
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
    }

.profile-img{
    width: 400px;
    height: 250px;
}

.recipe-flex{
    display: flex;
    flex-direction: row;
}

.delete-button{
    background-color: rgba(102, 102, 102, 0.452);
    color: white;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: rgba(255, 255, 255, 0.459);
    color: black;
}

    @media (max-width: 450px) {
        .profile-img {
          height: 60px;
          width: 60px;
        }
        .recipe-border{
            height:100px;
            width: 100px;
        }
      }
