.recipe-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-description {
 display: flex;
 flex-direction: column;
 align-items: center;

}


.rec-description {
    width: 250px;
    height: 200px;
}

.recipe-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rec-img {
    width: 500px;
}

.addrecipe-title{
    font-family: 'Montserrat', sans-serif;
}

.rec-desc-title {
    font-family: 'Montserrat', sans-serif;    
}

.recimg {
    font-family: 'Montserrat', sans-serif;        
}