ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.navbar {
  font-size: 15px;
  margin: 0 5px;
}

.header {
  padding-top: 2vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login {
    
  position: absolute;
  right: 5vw;
  float: right;
}

.header-center {
  width: 100vw;
  height: 15vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
  align-items: center;
}

