.search_container{
    text-align: center;
}



.recipe_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

h3 {
    text-align: center;
}

div {
    text-align: center;
}

.search-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-recipe{
    font-family: 'Montserrat', sans-serif;
}

.search-title{
    font-family: 'Montserrat', sans-serif;
}

.search-h2{
    font-family: 'Montserrat', sans-serif;
}